user = {
    first_name = "Etienne"
    last_name = "Pasteur"
    email = "et.pasteur@hotmail.fr"
    password = "toto42sh"
}

servers = [
    {
        ip = "auth.thefocuscompany.me"
        port = 3000
        type = "AUTHENTICATION"
    }
    {
        ip = "backend.thefocuscompany.me"
        port = 5555
        type = "BACKEND"
    }
]